# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Using Obsidian as my Markdown editor, I don't want to include the .obsidian folder in the repo. It contains my personal settings and plugins, which are not relevant to the project itself.
.obsidian

# Exclude macOS Finder (System Explorer) View States
.DS_Store
